<h1>Hello admin</h1>
  <hr>
  <% @users.each do |user| %>
    <h2><%= link_to user.id, admin_user_path(user) %></h2>
    <h3><%= user.firstname %></h3>
  <% end %>
  <hr>
<h3><%= link_to 'Create New User', new_admin_user_path %></h3>
